Package           Version
----------------- -------
asgiref           3.7.2
Django            4.2.5
pip               20.3.4
pkg-resources     0.0.0
setuptools        44.1.1
sqlparse          0.4.4
typing-extensions 4.7.1
